<!DOCTYPE html>
<html>
<head>
  <title>Baeneroid</title>
  <%= stylesheet_link_tag    "baeneroid/application", media: "all" %>
  <%= javascript_include_tag "baeneroid/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
